@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    scroll-behavior: smooth;
    font-family: "Inter", sans-serif;

}
:root{
    --bg-color: #ffffff;
    --text-color1: #121212;
    --text-color2: #424242;
    --text-color3: #B3B3B3;
    --btn-color: #FF5959;
}
.col1{
    background-color: #e6d6d6;
}
.col2{
    background-color: #dcd4c6;
}
.col3{
    background-color: #dae7e6;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}

.btn{
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    background: var(--btn-color);
}
/*  navigation */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 100px;
}

nav .loge {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;

}

nav ul li {
    list-style: none;
    margin-right: 51px;
    font-size: 20px;
    font-weight: 600;
}
.btn-2{
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    border-radius: 28px;
    padding: 15px 25px;
    border: none;
    background: var(--btn-color);
}
/* Header section */


#banner{
    height: 669px;
    background-image: linear-gradient(0.00deg, rgb(18, 18, 18) 0%,rgba(0, 0, 0, 0) 100%), url(images/donation5.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.banner-content{
    max-width: 826px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.banner-title {
    color: #FFFFFF;
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 14px;
}

.banner-decription {
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 30px;
    margin: 0 38px;
    font-family: "Poppins", sans-serif;
}

.btn {
    background-color: var(--btn-color);
    color: white;
    padding: 20px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    align-items: center;
}

.donate-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.donate-content{
    width: 60%;
    margin-bottom: 40px;
    text-align: center;
}
.donate-tilte{
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 20px;
}
.donate-description{
    font-size: 1.5rem;
    font-weight: 400;
}
.boxs{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.box{
    background-color: var(--text-color3);
    margin: 10px;
    padding: 50px 30px;
}
.box h3{
    font-size: 2rem;
    font-weight: 800;
}
.donate-amount{
    font-size: 2rem;
    font-weight: 400;
    color: var(--text-color3);
    margin-bottom: 20px;
}
.donate-sand hr{
    width: 1030px;
    margin-bottom: 50px;
}
.donate-plan-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.donate-plan-cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.card{
    padding: 50px 20px ;
}
.card h5{
    font-size: 2rem;
    font-weight: 600;
    margin: 20px 0;
}
.card p{
    font-size: 1.5rem;
    font-weight: 300;
}
.lives-depend-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lives-depend-content{
    width: 50%;
}
.lives-depend-content h3{
    font-size: 3.5rem;
    font-weight: 700;
}
.lives-depend-content p{
    width: 80%;
    font-size: 1.5rem;
    font-weight: 300;
    margin: 20px 0;
}
.lives-depend-content .btn{
    margin-top: 30px;
}
.lives-depend-image{
    width: 40%;
}
.lives-depend-image img{
    width: 100%;
}
form{
    height: 250px;
    width: 1040px;
    background-color: #dcd4c6;
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type="email"]{
    height: 52px;
    width: 450px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 400;
    border: none;
    cursor: pointer;
    text-transform: capitalize;
    background: var(--text-color3);
}
.submit{
    height: 72px;
    width: 250px;
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    background-color: var(--btn-color);
}
footer{
    margin-top: 130px;
    height: 200px;
    background-color: var(--text-color1);
}

.footer-container{
    display: flex;
    justify-content: center;
    flex-direction: column;    
    align-items: center;
    text-align: center;
    color: var(--bg-color);
}
.footer-container h3{
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--btn-color);
    margin: 30px 0;
}
